@model ProdutoModel
@{
    ViewData["Title"] = "Cadastrar produto";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar produto</h1>

</div>

<form asp-controller="Produto" asp-action="Criar" method="post">

    <div class="form-group">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do produto">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group">
        <label for="descricao" class="form-label">Descricao</label>
        <input type="text" asp-for="Descricao" class="form-control" placeholder="Informe a descrição do produto">
        @Html.ValidationMessageFor(x => x.Descricao)
    </div>
    <div class="form-group">
        <label for="quantidade" class="form-label">Quantidade</label>
        <input type="number" asp-for="Quantidade" class="form-control" placeholder="Informe a quantidade do produto">
        @Html.ValidationMessageFor(x => x.Quantidade)
    </div>
    <br />

    <button type="submit" class="btn btn-primary w-100">Adicionar</button>
    <a class="btn btn-secondary w-100" asp-controller="Produto" asp-action="Index" role="button" style="margin-top: 5px;">Voltar</a>
</form>
